.summary {
    color: #808080;
    border-left: 5px solid #406b23;
    font-size:16px;
}

@media (min-width: 1300px) {
    .container {
        width: 1250px !important;
    }
}/* increases width for bigger screens (defaults are at bootstrap.min.css) */

h3 {color: #406b23; }
h4 {color: #587545; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #72ac4a;
    color: white;
}/* colors of the active tab in nav-tabs when hovering over it (background and text) */

.nav > li.active > a {
    background-color: #72ac4a;
    color: white;
}/* colors of the active tab in nav-tabs */

.nav > li > a:hover {
    background-color: #9bdf6d;
    color: black
}/* colors of an inactive tab in nav-tabs when hovering over it */

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #9bdf6d;
}/* in drop-down menus in the top nav bar, the background color when hovering over an element of the menu (and also in the top-level sidebar elements, i think) */

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}/* color of the text on the top nav bar */

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #ffffa0;
}/* color of the text on the top nav bar when hovering over it*/

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #72ac4a;
    font-weight: bold;
}/* idk */

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #72ac4a;
    border-color: #5b893c;
}/* colors of the top nav bar background */

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #9bdf6d;
    color: black;
}/* colors of the active top nav bar element */

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #5b893c;
    color: #ffffff;
}/* idk */

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #72ac4a !important;
}/* idk */

.btn-primary {
    color: #ffffff;
    background-color: #72ac4a;
    border-color: #5b893c;
}/* colors of btn-primary buttons */

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #9bdf6d;
    border-color: #5b893c;
    color: black;
}

.btn-info {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #000;
    background-color: #f0f0f0;
    border-color: #f0f0f0; /*set the color you want here*/
}

.printTitle {
    color: #5b893c !important;
}/* idk, i think unused */

body.print h1 {color: #5b893c !important; font-size:28px;}
body.print h2 {color: #595959 !important; font-size:24px;}
body.print h3 {color: #406b23 !important; font-size:14px;}
body.print h4 {color: #587545 !important; font-size:14px; font-style: italic;}

.anchorjs-link:hover {
    color: #4f7233;
}

div.sidebarTitle {
    color: #406b23;
}

li.sidebarTitle {
    margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #406b23;
    margin-bottom:10px;
    margin-left: 5px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #406b23;
}

.nav a:hover, .nav li.active > a {
    background-color: #72ac4a;
    color: #f5f5f5;
}/* color of active sidebar elements */

.nav li a:hover {
    background-color: #9bdf6d;
    color: black;
}/* color of inactive sidebar elements when hovering over them */

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?vato0f');
    src:  url('fonts/icomoon.eot?vato0f#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?vato0f') format('truetype'),
      url('fonts/icomoon.woff?vato0f') format('woff'),
      url('fonts/icomoon.svg?vato0f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-pmc-logo:before {
    content: "\e900";
  }
  
  .icon-modrinth-logo:before {
    content: "\e901";
  }
  