<ul>
    {% if include.discontinued %}
    <li><b>Last release ({{include.version}}):</b><br/>
    {% else %}
    <li><b>Latest release ({{include.version}}):</b><br/>
    {% endif %}
        {% if include.github-url %}
            <a href="{{include.github-url}}" target="_blank" class="btn btn-primary" role="button"><i class="fa fa-github fa-lg"></i> Download Datapack (GitHub)</a>
            {% if include.pmc-url %}
                <b>|</b>
            {% elsif include.modrinth-url %}
                <b>|</b>
            {% elsif include.dropbox-url %}
                <b>|</b>
            {% elsif include.mirror-url %}
                <b>|</b>
            {% endif %}
        {% endif %}
        {% if include.modrinth-url %}
            <a href="{{include.modrinth-url}}" target="_blank" class="btn btn-primary" role="button"><span class="icon-modrinth-logo" style="font-size:17px;position:relative; top:2px;"></span> Download Datapack (Modrinth)</a>
            {% if include.pmc-url %}
                <b>|</b>
            {% elsif include.dropbox-url %}
                <b>|</b>
            {% elsif include.mirror-url %}
                <b>|</b>
            {% endif %}
        {% endif %}
        {% if include.pmc-url %}
            <a href="{{include.pmc-url}}" target="_blank" class="btn btn-primary" role="button"><span class="icon-pmc-logo" style="font-size:17px;position:relative; top:2px;"></span> Download Datapack (PlanetMinecraft)</a>
            {% if include.dropbox-url %}
                <b>|</b>
            {% elsif include.mirror-url %}
                <b>|</b>
            {% endif %}
        {% endif %}
        {% if include.dropbox-url %}
            <a href="{{include.dropbox-url}}" target="_blank" class="btn btn-primary" role="button"><i class="fa fa-dropbox fa-lg"></i> Download Datapack (Dropbox)</a>
            {% if include.mirror-url %}
                <b>|</b>
            {% endif %}
        {% endif %}
        {% if include.mirror-url %}
            <a href="{{include.mirror-url}}" target="_blank" class="btn btn-primary" role="button"><i class="fa fa-download fa-lg"></i> Download Datapack ({{include.mirror-platform}})</a>
        {% endif %}
    </li>
    {% if include.rp-version %}
        <li><b>Required resourcepack ({{include.rp-version}}):</b><br/>
            {% if include.rp-github-url %}
                <a href="{{include.rp-github-url}}" target="_blank" class="btn btn-primary" role="button"><i class="fa fa-github fa-lg"></i> Download Resourcepack (GitHub)</a>
                {% if include.rp-pmc-url %}
                    <b>|</b>
                {% elsif include.rp-modrinth-url %}
                    <b>|</b>
                {% elsif include.rp-dropbox-url %}
                    <b>|</b>
                {% elsif include.rp-mirror-url %}
                    <b>|</b>
                {% endif %}
            {% endif %}
            {% if include.rp-modrinth-url %}
                <a href="{{include.rp-modrinth-url}}" target="_blank" class="btn btn-primary" role="button"><span class="icon-modrinth-logo" style="font-size:17px;position:relative; top:2px;"></span> Download Resourcepack (Modrinth)</a>
                {% if include.rp-pmc-url %}
                    <b>|</b>
                {% elsif include.rp-dropbox-url %}
                    <b>|</b>
                {% elsif include.rp-mirror-url %}
                    <b>|</b>
                {% endif %}
            {% endif %}
            {% if include.rp-pmc-url %}
                <a href="{{include.rp-pmc-url}}" target="_blank" class="btn btn-primary" role="button"><span class="icon-pmc-logo" style="font-size:17px;position:relative; top:2px;"></span> Download Resourcepack (PlanetMinecraft)</a>
                {% if include.rp-dropbox-url %}
                    <b>|</b>
                {% elsif include.rp-mirror-url %}
                    <b>|</b>
                {% endif %}
            {% endif %}
            {% if include.rp-dropbox-url %}
                <a href="{{include.rp-dropbox-url}}" target="_blank" class="btn btn-primary" role="button"><i class="fa fa-dropbox fa-lg"></i> Download Resourcepack (Dropbox)</a>
                {% if include.rp-mirror-url %}
                    <b>|</b>
                {% endif %}
            {% endif %}
            {% if include.rp-mirror-url %}
                <a href="{{include.rp-mirror-url}}" target="_blank" class="btn btn-primary" role="button"><i class="fa fa-download fa-lg"></i> Download Resourcepack ({{include.rp-mirror-platform}})</a>
            {% endif %}
        </li>
    {% endif %}
    {% if include.discontinued %}
        <i>(This version of the datapack is <a href="#" data-toggle="tooltip" data-original-title="No new updates will be released for these Minecraft versions.">discontinued</a>)</i>
    {% endif %}
</ul>