---
layout: default
---

{% if page.datapack %}
    {% assign page_datapack_url = page.datapack | append: ".html" %}
    {% for _page in site.pages %}
        {% if _page.permalink == page_datapack_url %}
            {% assign datapack_page = _page %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endif %}

<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        {% if datapack_page.logo != null %}<img src="images/{{datapack_page.logo}}" alt="logo" style="position:relative; top:-50px; width:128px; -ms-interpolation-mode: nearest neighbour; image-rendering: pixelated;" align="right"/>{% endif %}
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d/%b/%Y" }}</time> {% if page.author %}<span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">- {{ page.author }} </span></span>{% endif %}{% if page.tags != null %}-
            {% assign projectTags = site.data.tags.allowed-tags %}
            {% for tag in page.tags %}
            {% if projectTags contains tag %}
                {% if tag=="datapack" %}
                    <a href="datapacks.html">{{tag}}</a>{% unless forloop.last %}, {% endunless%}
                {% elsif tag=="news" %}
                    <a href="news_archive.html">{{tag}}</a>{% unless forloop.last %}, {% endunless%}
                {% else %}
                    <a href="{{ "tag_" | append: tag | append: ".html"}}">{{tag}}</a>{% unless forloop.last %}, {% endunless%}
                {% endif %}
            {% endif %}
            {% endfor %}
            {% endif %}

        </p>


    </header>

    <div class="post-content" itemprop="articleBody">

        {% if page.summary %}
        <div class="summary">{{page.summary}}</div>
        {% endif %}

        {% if datapack_page %}
            <a href="{{datapack_page.permalink}}" class="btn btn-primary" role="button">Go to this datapack's page</a><br/><br/>
        {% endif %}

        {{ content }}

        {% if page.changelog %}
            {% if page.changelog == 'v1' %}
            <h2>Features</h2>
            {% else %}
            <h2>Changes</h2>
            {%endif%}
        {% capture changelog_html %}
        {% include changelogs/{{page.datapack}}/{{page.changelog}}.md %}
        {% endcapture %}
        {{ changelog_html | markdownify }}
        {% endif %}

    </div>



</article>

{% include blog/commento.html %}

{{site.data.alerts.hr_shaded}}

{% include page/footer.html %}

{% comment %} Copyright 2021 Google LLC {% endcomment %}
